<header><a href="index.html" style="color:inherit;text-decoration:inherit;">
	<p class="cabecera"><span id="elias1">S</span><span id="elias2">ever</span></p>
	<p class="cabecera" id="portonesLogo">Portones automáticos</p>
</header>
<nav class="noselect">
	<ul>
		<li><a class="button" href="index.html">Home</a></li>
		<li><a class="button" href="portones.html">Portones</a></li>
		<li><a class="button" href="manuales.html">Manuales</a></li>
		<li><a class="button" href="contacto.html">Contacto</a></li>
	</ul>
</nav>
